#myDiv1 {
    background-color: rgb(150, 150, 150);
    color: white;
    width: 75%;
    height: 3200px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#myImg1 {
    height: 300px;
    width: 200px;
}

#myImg2 {
    height: 300px;
    width: 200px;
}

#myImg3 {
    height: 300px;
    width: 200px;
}

#myImg4 {
    height: 300px;
    width: 200px;
}

#myImg5 {
    height: 300px;
    width: 200px;
}